body {
    background-color: #F5F5F5;
    font-family: Poppins;
    color: #4A4A4A;
    margin-left: 10%;
    margin-right: 10%;
}
.profile {
    text-align: center;
}
img {
    border-radius: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    text-align: center;
}
.education {
    width: 60%;
}
.experience {
    width: 65%;
}
.section {
    background-color: #4A4A4A;
    color: #F5F5F5;
    padding-left: 10px;
}
footer {
    background-color: #4A4A4A;
    color: #F5F5F5;
    text-align: center;
    padding: 30px;
}
.button {
    color: #F5F5F5;
    text-decoration: none;
}